<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Random_row_call</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HandleUploadServlet</display-name>
    <servlet-name>HandleUploadServlet</servlet-name>
    <servlet-class>random.servlet.HandleUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleUploadServlet</servlet-name>
    <url-pattern>/HandleUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandleInputNum</display-name>
    <servlet-name>HandleInputNum</servlet-name>
    <servlet-class>random.servlet.HandleInputNum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleInputNum</servlet-name>
    <url-pattern>/HandleInputNum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveLateStudentServlet</display-name>
    <servlet-name>SaveLateStudentServlet</servlet-name>
    <servlet-class>random.servlet.SaveLateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveLateStudentServlet</servlet-name>
    <url-pattern>/SaveLateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandleLateStudentServlet</display-name>
    <servlet-name>HandleLateStudentServlet</servlet-name>
    <servlet-class>random.servlet.HandleLateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleLateStudentServlet</servlet-name>
    <url-pattern>/HandleLateStudentServlet</url-pattern>
  </servlet-mapping>
</web-app>